* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  color: var(--c-text-base);
  background-color: var(--c-background-base);
  font-family: var(--f-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--f-heading);
}

a:link {
  color: var(--c-accent-base);
  text-decoration: none;
}
a:visited {
  color: var(--c-accent-base);
}
a:hover {
  color: var(--c-accent-strong);
}

.fit-content {
  width: fit-content;
  height: fit-content;
}
.center-self {
  justify-self: center;
}
.center-content {
  justify-content: center;
  justify-items: center;
  align-items: center;
}
